<div class="pagination">
    {% if products.has_prev %}
        <a href="{{ url_for('views.home', page=products.prev_num, search=search, brand=brand, per_page=per_page, toggleView=toggle_view) }}">Önceki</a>
    {% endif %}
    {% for page_num in products.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
        {% if page_num %}
            <a href="{{ url_for('views.home', page=page_num, search=search, brand=brand, per_page=per_page, toggleView=toggle_view) }}" {% if page_num == products.page %}class="current"{% endif %}>{{ page_num }}</a>
        {% else %}
            <span>...</span>
        {% endif %}
    {% endfor %}
    {% if products.has_next %}
        <a href="{{ url_for('views.home', page=products.next_num, search=search, brand=brand, per_page=per_page, toggleView=toggle_view) }}">Sonraki</a>
    {% endif %}
</div>