{% extends "base.html" %}
{% block title %}{{ product.title }}{% endblock %}
{% block content %}
    <h1>{{ product.title }}</h1>

    {% if product.image %}
        <img src="{{ product.image }}" alt="{{ product.title }}" style="max-width: 200px;">
    {% endif %}

    <div>
        <p>Marka: {{ product.brand }}</p>
        <p>Fiyat: {{ product.current_price }}</p>
        <p>Ürün Kodu: {{ product.product_code }}</p>
        <p>Link: <a href="{{ product.link }}">Ürüne Git</a></p>
        <p><a href="{{ url_for('views.home') }}">Geri Dön</a></p>
    </div>

    <h2>Fiyat Geçmişi</h2>
    <table>
        <tr>
            <th>Fiyat</th>
            <th>Tarih</th>
        </tr>
        {% for price in price_history %}
            <tr>
                <td>{{ price.price }}</td>
                <td>{{ price.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}